<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>555107589651-rnddhn2fch6jfrmemlsm1toaapvc7u3r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.555107589651-rnddhn2fch6jfrmemlsm1toaapvc7u3r</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>555107589651-jofh5eo3is4pj37gqc4fj1fa31mgnees.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD-5iQbYYnavOd2nV7rsH54ZiL3TllmYbY</string>
	<key>GCM_SENDER_ID</key>
	<string>555107589651</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sporty</string>
	<key>PROJECT_ID</key>
	<string>sporty-e7c07</string>
	<key>STORAGE_BUCKET</key>
	<string>sporty-e7c07.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:555107589651:ios:1f25a8631106b361d569e6</string>
</dict>
</plist>